<?php
return [
        'doctrine' => [
            'connection' => [
                'driver'   => 'pdo_mysql',
                'host'     => 'localhost',
                'dbname'   => '',
                'user'     => '',
                'password' => '',
            ]
        ]
];
